body {
	background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/14/75/49582074207339b.jpg);
	background-size: cover;
}
#Title {
	color: #000000;
	text-align: center;
	border: 5px dashed rgba(232, 0, 131, 0.75);
	cursor:default;
	text-decoration: underline;
	font-family: Roboto;
}

#Text {
	color: #000000;
	text-align: center;
	border: 5px dashed rgba(232, 0, 131, 0.75);
	text-transform: uppercase;
	font-weight: 500;
	font-size: 175%;
	font-style: italic;
	font-family: "Lucida Calligraphy";
}

.Intro {
	color: rgb(134, 92, 82);
	text-align: center;
	font-size: 120%;
	font-family: Arial
}

form {
	color: #E80083;
	text-align: center;
}

#id {
	color: yellow;
}

.class {
	text-align: left;
	color: rgba(234, 93, 23, 0.95);
}

.images {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	width: 480px;
	height: 270px;
	margin: 10px 10px;
	transition: 1s;
}

img:hover {
	transform: scale(1.1);
}

.out {
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
	font-family: Roboto;
	font-style: italic;
	border: 3px solid red;
	padding: 5px;
}